@font-face { font-family: RalewayReg; src: url('../Raleway/Raleway-Regular.ttf'); }
@font-face { font-family: RalewayLig; src: url('../Raleway/Raleway-Light.ttf'); }

@font-face { font-family: RalewayBld; src: url('../Raleway/Raleway-Bold.ttf'); }
@font-face { font-family: RalewayMed; src: url('../Raleway/Raleway-Medium.ttf'); }
@font-face { font-family: RalewayRegIta; src: url('../Raleway/Raleway-Italic.ttf'); }

body {
	margin: 0;
}
.header {
  padding-top: 20px;
}

.header2 {
  position: fixed;
  width: 100vw;
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 10;
}

.navigation {
	background-color: transparent;
	text-align: center;
	list-style-type: none;
	font-family: RalewayMed, sans-serif;
  font-size: 14px;
  color:#EEE;
}

.navigation li {
	display: inline-block;
	cursor: pointer;
}

.button {
	padding: 0px 15px 0px 10px;
  color:#FFF;
	/*background-color: #FFF;*/
}
.button:active {
  text-decoration: none;
  color:#FFF;
}
.button:hover {
  text-decoration: none;
  color:#FFF;
}
.button:link {
  text-decoration: none;
  color:#FFF;
}
.button:visited {
  text-decoration: none;
  color:#FFF;
}

.navigation li:first-child {
	border-left: none;
	float: left;
}

.navigation li:first-child img {
	width: 80px;
	/*height: 23px;*/
	margin-top: 0px;
  margin-right: 20px;
}

.navigation li:last-child {
	border-right: none;
	float: right;
	margin-right: 60px;
}
