@font-face { font-family: RalewayReg; src: url('../Raleway/Raleway-Regular.ttf'); }
@font-face { font-family: RalewayLig; src: url('../Raleway/Raleway-Light.ttf'); }

@font-face { font-family: RalewayBld; src: url('../Raleway/Raleway-Bold.ttf'); }
@font-face { font-family: RalewayMed; src: url('../Raleway/Raleway-Medium.ttf'); }
@font-face { font-family: RalewayRegIta; src: url('../Raleway/Raleway-Italic.ttf'); }


.header {
  width: 100vw;
  z-index: 2;

  position: absolute;

}

.App {
  text-align: center;
}


.headerLogo {
  z-index: 2;
  background-color: #222;
  /*background-image: url("../Images/logo.svg");*/
  background-repeat: no-repeat;

  height: 100px;
  width: 150px;
  margin-top: 15px;
  margin-left: 5%;
  color: white;
  border-top: solid #333;
}

.headerTitle {
  font-size: 1.2em;

}

.App-intro {
  font-size: large;
}

.Carousel {
  width: 100vw;
  height: 100vh;
  background-image: url("../Images/carExample.jpg");
  /*background-color: #474747;*/
  background-size: cover;
  background-position: center;

}

.OverviewSmall {
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  width: 100%;
  /*font-family: 'Roboto', sans-serif;*/



}

.ParallaxTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #fff;
}



.spacerSmall {
  padding-top: 10px;
  padding-bottom: 10px;
}

.spacerMedium {
  padding-top: 25px;
  padding-bottom: 25px;
}

.spacerBig {
  padding-top: 40px;
  padding-bottom: 40px;
}

.heading {
  text-align: center;
  font-family: RalewayLig, sans-serif;
  font-size: 38px;
  color: #333;
}
h2 {
  text-align: left;
  font-family: RalewayReg, sans-serif;
  font-size: 24px;
  color: #333;
}
p2 {
  text-align: left;
  float: left;
  font-family: RalewayLig, sans-serif;
  font-size: 15px;
  color: #333;
}

.descriptionText {
  text-align: center;
  font-family: RalewayLig, sans-serif;
  font-size: 20px;
  color: #333;
}

.navItem {
  color: white;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 450px;
  height: 200px;
  background: rgba(220, 220, 220, .0);
  border-radius: 3px;
}
.carouselHeading {
  padding-top: 20px;
  line-height: 40px;

  font-family: RalewayReg, sans-serif;

  font-size: 67px;

  color: #FFF;
}
.carouselParagraph {
  line-height: 45px;
  font-family: RalewayReg, sans-serif;
  font-size: 50px;

  color: #FFF;
}

.carouselParagraph2 {
  /*line-height: 40px;*/
  line-height: 20px;
  letter-spacing: 1.6px;


  font-family: RalewayLig, sans-serif;
  font-size: 30px;

  color: #FFF;
}

.greyBackgroundColor {
  background-color: #FAFAFA;
}


#background-video{

  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed;


}

.videoBackground {
  width: 100vw;
  height: 100vh;
  /*background-color: #474747;*/
  background-size: cover;
  background-position: center;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.contact-form-input {
  background-color: rgba(0, 149, 199, 0.2);
  border-radius: 0;
  border-color: rgb(0, 149, 199);
  padding: 20px;
  margin-top: 5px;
}

textarea.contact-form-input {
  height: 250px;
  resize: vertical;
}

.contact-form-button {
  border-radius: 0;
  background-color: rgba(0, 149, 199, 1);
  border-color: rgba(0, 149, 199, 0.2);
  padding: 10px 30px;
  color: #FFF;
}

.contact-form-button:hover {
  background-color: rgba(0, 149, 199, 0.8);
  border-color: rgba(0, 149, 199, 0.2);
  color: #FFF;
}

.contact-form-button:focus, .contact-form-button:active, .contact-form-button:visited {
  background-color: rgba(0, 149, 199, 0.6);
  border-color: rgba(0, 149, 199, 0.2);
  color: #FFF;
}

.formcontrol-feedback {
  margin-top: 10px;
}